@model ConferenceApp.Models.EventCentre

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EventCentre</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MapImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MapImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
    </dl>
</div>
<div>
    
    <p><a asp-controller="Room" asp-action="Create" asp-route-eventCentreId="@Model.Id">Agregar Sala</a></p>

    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <hr/>

    <h2>Salas en este Centro</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Capacidad
                </th>
                <th>
                    Descripción Equipamiento
                </th>
                <th>
                    Opciones
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in ViewBag.eventCentresRooms) {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.MaxCapacity
                </td>
                <td>
                    @item.EquipmentDescription
                </td>
                <td>
                    <a asp-controller="Room" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Room" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-controller="Room" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                

            </tr>
    }
        </tbody>
    </table>
</div>
