@model ConferenceApp.Models.Event

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.startDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.startDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.endDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.endDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a href='javascript:history.go(-1)'>Volver</a>
</div>
<div>
    Si asiste:
    <a asp-controller="Feedback" asp-action="Create">Evaluar</a> <br/>
    Si no asiste:
    <button onclick="myFunction()">Asistir</button> <br/>
    <a asp-controller="Notification" asp-action="Create">Enviar notificacion</a> <br/>
    
</div>


<script>
function myFunction() {
    alert("Estas registrado para asistir!");
}
</script>