@model IEnumerable<ConferenceApp.Models.Event>

@{
    ViewData["Title"] = "Eventos";
}

@if (TempData["DateError"] != null)
{
    <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        No se pudo agregar el evento debido a que las fechas no coinciden con las de la versión de conferencia seleccionada.
    </div>
}

<style>
    .tableFixHead          { overflow-y: auto; height: 400px; }
    .tableFixHead thead th { position: sticky; top: 0; }

    /* Just common table stuff. Really. */
    table  { border-collapse: collapse; width: 100%;}
    th, td { padding: 8px 16px; }
    th     { background:#eee;}
</style>

<h1>Eventos</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>

<div>
    <div class="btn-group btn-group-justified" style="width: 100%;">
        <a asp-controller="Talk" asp-action="Index" class="btn btn-info">Charlas</a>
        <a asp-controller="PracticalSession" asp-action="Index" class="btn btn-info">Sesiones prácticas</a>
        <a asp-controller="Chat" asp-action="Index" class="btn btn-info">Chats</a>
        <a asp-controller="FoodService" asp-action="Index" class="btn btn-info">Comidas</a>
        <a asp-controller="Party" asp-action="Index" class="btn btn-info">Fiestas</a>
    </div>
</div>
<div class="tableFixHead">
<table class="table table-fixed">
    <thead>
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Fecha de inicio
        </th>
        <th>
            Fecha de fin
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a asp-controller="@item.GetType().Name" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-controller="@item.GetType().Name" asp-action="Details" asp-route-id="@item.Id">Ver</a> |
                <a asp-controller="@item.GetType().Name" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
    }
    </tbody>
</table>
</div>


