@model ConferenceApp.Models.Feedback

@{
    ViewData["Title"] = "Editar comentarios";
}

<h1>Editar Comentarios</h1>
<h4>Evaluar "@ViewBag.Event.Name"</h4>
<div>
    <a asp-action="Details" asp-controller="Event" asp-route-id="@ViewBag.Event.Id">Volver al evento</a>
</div>
<div>
    <a asp-action="Details" asp-controller="Feedback" asp-route-id="@Model.Id">Volver a la evaluación</a>
</div>

<h4>Feedback</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" value="@ViewBag.Author" />
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Message" class="control-label">Comentarios generales</label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="EventId" value="@ViewBag.Event.Id" />
            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
