@model ConferenceApp.Models.Conference

@{
    ViewData["Title"] = "Conferencia";
}
<style>
    .tableFixHead          { overflow-y: auto; height: 200px; }
    .tableFixHead thead th { position: sticky; top: 0; }

    /* Just common table stuff. Really. */
    table  { border-collapse: collapse; width: 100%;}
    th, td { padding: 8px 16px; }
    th     { background:#eee;}
</style>

<h1>Conferencia</h1>

<div>
    <h4>Info</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Descripción
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Borrar</a> |
    <a href='javascript:history.go(-1)'>Volver</a>
</div>
<hr />
<a asp-controller="ConferenceVersion" asp-action="Create" asp-route-conferenceId="@Model.Id">Agregar una nueva versión</a>
<br/>
<a asp-controller="ConferenceVersion" asp-action="Index" asp-route-conferenceId="@Model.Id">Ver más versiones de esta conferencia</a>
<hr />
<div>
    <h4>Estadísticas Acumuladas de la conferencia</h4><br/>
    <div>
        <h4>Asistentes</h4><br/>
        @for (var i = 0; i < ViewBag.Assitance.Count; i++)
        {
            <dl class="row">
                <dt class = "col-sm-4">
                    Versión @ViewBag.ConferenceVersionsName[i]:
                </dt>
                <dd class = "col-sm-8">
                    @ViewBag.Assitance[i]
                </dd>
            </dl>
        }
    </div>
    <h4>Estadísticas por Categoría</h4>
        <div class="tableFixHead">

            <table class="table table-fixed table-hover">
                <thead>
                <tr>
                    <th scope="col"> </th>
                    @for (var i = 0; i < ViewBag.ConferenceVersionsName.Count; i++)
                    {
                        <th scope="col">Versión @ViewBag.ConferenceVersionsName[i]</th>
                    }
                </tr>
                </thead>
                <tbody>
                    @for (var j = 0; j < ViewBag.FeedbackCategoryName.Count; j++)
                    {
                        <tr>
                            <th scope="row">@ViewBag.FeedbackCategoryName[j]</th>
                            @for (var i = 0; i < ViewBag.ConferenceVersionsName.Count; i++)
                            {
                                <td>@ViewBag.CategoryAverageLists[i][j]</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
</div>
