@model ConferenceApp.Models.ConferenceVersion

@{
    ViewData["Title"] = "Versión de Conferencia";
}

<h1>Versión de conferencia</h1>

<div>
    <a asp-controller="Notification" asp-action="Create">Enviar notificación a usuarios</a>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Versión número
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            Inicio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            Fin
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            Pertenece a
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Conference" asp-action="Details" asp-route-id="@Model.ConferenceId">Conferencia</a>
        </dd>
        <dt class="col-sm-2">
            Se realiza en
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="EventCentre" asp-action="Details" asp-route-id="@Model.EventCentreId">Centro de evento</a>
        </dd>
        <dt class="col-sm-2">
            Patrocina
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in ViewBag.sponsors)
            {
                <span>@item | </span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-controller="Sponsorship" asp-action="Create" asp-route-conferenceVersionId="@Model.Id">Agregar patrocinador</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Eliminar</a>
</div>

<hr />
<div>
    <h4>Eventos</h4>
    @* TO-DO *@
    <a asp-controller="Event" asp-action="Index">Ver todos</a> |
    <a asp-controller="Event" asp-action="Create" asp-route-conferenceVersionId="@Model.Id">Agregar nuevo</a> (organizador)
    <hr/>
    <br/>
    <h2>Estadísticas</h2>
    <h5>Estadistica 1</h5>
    <h5>Estadistica 2</h5>
    <h5>Estadistica 3</h5>
</div>
