@model IEnumerable<ConferenceApp.Models.ConferenceVersion>

@{
    ViewData["Title"] = "Versiones";
}

<h1>Index: Versiones</h1>

<div>
    @if (ViewBag.conferenceId != null)
    {
        <a asp-controller="Conference" asp-action="Details" asp-route-id="@ViewBag.conferenceId">Volver a la conferencia</a><br/>
        <a asp-action="Create" asp-route-conferenceId="@ViewBag.conferenceId">Crear una nueva versión</a>
    }
    else
    {
        <a asp-action="Create">Crear nueva versión de una conferencia</a>
    }
    <p></p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Número de versión
            </th>
            <th>
                Inicio
            </th>
            <th>
                Fin
            </th>
            <th>
                Organizador
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Ver</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
