@model IEnumerable<ConferenceApp.Models.ConferenceVersion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index: Versiones</h1>

<p>    
    <a asp-controller="Conference" asp-action="Details" asp-route-id="@ViewBag.conferenceId">Volver a la conferencia</a>
    <br/>
    <hr/>
    <a asp-action="Create">Crear nueva versión</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Número de versión
            </th>
            <th>
                Inicio
            </th>
            <th>
                Fin
            </th>
            <th>
                Organizador
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
